.user-details > h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: clamp(24px, 3vw, 30px)
}


.user-details h2 {
    margin: 0px;
    font-size: clamp(16px, 2vw, 22px);
}