<h2>Nutzer Details</h2>

<button class="return-button" routerLink="/users">&lt;</button>

<div class="component-box user-details">
    @if (user) {
        <h2>#{{ user.id }}</h2>
        <h1>{{ user.username }}</h1>
        <div class="vline"></div>

        <ul>
            @if (user.email) {
                <li>
                    <h1>Email-Adresse</h1>
                    <span>{{ user.email }}</span>
                </li>
            }
            @if (user.permissions && user.permissions.length > 0) {
                @if (user.permissions.length > 1 || !user.permissions.includes("LOGIN")) {
                    <li>
                        <h1>Berechtigungen</h1>
                        <span>
                            @for (permission of user.permissions; track permission) {
                                @if (permission !== "LOGIN") {
                                    <span>{{ permission.replace("_", " ").toLowerCase() }}</span>
                                    <br>
                                }
                            }
                        </span>
                    </li>
                }
            }
            @if (creator) {
                <li>
                    <h1>Erstellt von</h1>
                    <div routerLink="/user/{{ creator.id }}" class="clickable">
                        <span>{{ creator.username }}</span>
                    </div>
                </li>
            }
            @if (user.createdAt) {
                <li>
                    <h1>Erstellt am</h1>
                    <span>{{ user.createdAt | date:'dd.MM.yyyy HH:mm' }}</span>
                </li>
            }
            @if (user.updatedAt) {
                <li>
                    <h1>Aktualisiert am</h1>
                    <span>{{ user.updatedAt | date:'dd.MM.yyyy HH:mm' }}</span>
                </li>
            }
            @if (user.refreshVersion != null) {
                <li>
                    <h1>Refresh Version</h1>
                    <span>{{ user.refreshVersion }}</span>
                </li>
            }
            @if (user.permissions !== undefined && user.permissions !== null) {
                <li>
                    <h1>Login Erlaubt</h1>
                    <span>
                        @if (user.permissions.includes("LOGIN")) {
                            Ja
                        }
                        @else {
                            Nein
                        }
                    </span>
                </li>
            }
        </ul>

        @if (authService.hasPermission('UPDATE_USER') || authService.getId() === user.id) {
            <div>
                <a routerLink="/edit-user/{{ user.id }}">bearbeiten</a>
            </div>
        }
        @if (authService.hasPermission('DELETE_USER') || authService.getId() === user.id) {
            <div>
                <a (click)="deleteUser()">löschen</a>
            </div>
        }
    }
</div>