.h1-wrapper {
    flex: 1;
    margin-top: 20vh;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    margin-top: auto;
}

@media (min-width: 680px) {
    .buttons-wrapper {
        flex-direction: row;
        margin-top: 0px;
        margin-bottom: auto;
    }

    .buttons-wrapper > button {
        flex: 1;
    }

    .h1-wrapper {
        flex: 0;
        margin-top: auto;
    }
}

@media (min-width: 1300px) {
    .buttons-wrapper > button {
        flex: 0 0 auto;
    }
}