.edit-user > h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: clamp(24px, 3vw, 30px)
}


.edit-user h2 {
    margin: 0px;
    font-size: clamp(16px, 2vw, 22px);
}

.permissions {
    margin-top: 0px;
    margin-bottom: 0px;
}

.permissions-wrapper {
    margin-top: 10px;
    margin-bottom: 0px;
}
.permissions-wrapper > span {
    font-size: 16px;
}

.permission-item :hover {
    cursor: pointer;
}