<h2>Fahrzeuge in der Nähe</h2>

<div class="component-box component-box-list">
    @if (trips && trips.length > 0) {
        <ul>
            @for (trip of trips; track trip.id) {
                <li>
                    <h1>{{ trip.lineName }} [{{ trip.type }}]</h1>
                    <span>{{ trip.direction }}</span>
                </li>
                <div class="vline"></div>
            }
        </ul>
    }
    @else {
        Es wurden keine Fahrzeuge in deiner Umgebung gefunden.
    }
</div>